<footer class="footer">
  <small>
    <%= t(".text",
      link_home: link_to(t(".rubyonrails_href"), "https://www.railstutorial.org/"),
      link_home2: link_to(t(".michael"), "http://www.michaelhartl.com/")).html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
  <div>
    <p>
        <br>
        <%= link_to(t(".english"),locale:"en") %>
        <%= link_to(t(".vietnamese"),locale:"vi") %>
      </p>
  </div>
</footer>
